<div class="padding">
    <div class="box">
        <div class="box-body" ng-form="filterForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>რეისის ნომერი: </label>
                        <input type="text" class="form-control" ng-model="filter.flightNumber" placeholder="რეისი">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>აირჩიეთ სტატუსი: </label>
                        <select class="form-control"
                                ng-model="filter.status"
                                ng-options="item.id as item.name for item in goodsStateList">
                            <option value=''> ყველა სტატუსი </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="md-check">
                        <input type="checkbox"
                               ng-model="filter.allkind"
                               ng-init="filter.allkind = true"
                               ng-true-value="true"
                               ng-false-value="false">
                        <i class="blue"></i> ყველა ტიპის გზავნილი
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="md-check">
                        <input type="checkbox"
                               ng-model="filter.declared"
                               ng-init="filter.declared = false"
                               ng-true-value="true"
                               ng-false-value="false"
                               ng-disabled="filter.allkind">
                        <i class="blue"></i> დაუდეკლარირებელი
                    </label>

                </div>
                <div class="col-md-2">
                    <label class="md-check">
                        <input type="checkbox"
                               ng-model="filter.payed"
                               ng-init="filter.payed = false"
                               ng-true-value="true"
                               ng-false-value="false"
                               ng-disabled="filter.allkind">
                        <i class="blue"></i> გადაუხდელები
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn danger p-x-md" ng-disabled="filterForm.$invalid" ng-click="filterUrl()" disabled="disabled">
                            გაფილტვრა
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding">
    <div class="box">
        <div class="table-responsive">
            <imperio-search-input></imperio-search-input>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th imperio-sortable-by="trackingCode">თრექინგ კოდი</th>
                    <th imperio-sortable-by="flights.flightNumber">ფრენის ნომერი</th>
                    <th>ოთახის ნომერი</th>
                    <th imperio-sortable-by="recFullName">სრული სახელი</th>
                    <th imperio-sortable-by="status">სტატუსი</th>
                    <th>ფ.წონა</th>
                    <th>გადასახადი</th>
                    <th imperio-sortable-by="arrivalDate">ჩამოსვლა თბილისში</th>
                    <th>რაოდენობა</th>
                    <th>გადახდილია?</th>
                    <th>დეკლარირებულია?</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data.results">
                    <td>{{item.id}}</td>
                    <td>{{item.trackingCode}}</td>
                    <td>{{item.flights.flightNumber}}</td>
                    <td>{{item.user.userRoomCode}}</td>
                    <td>{{item.recFullName}}</td>
                    <th>{{item.status}}</th>
                    <td>{{item.phisicalW}}</td>
                    <td>{{item.priceToPay}}</td>
                    <td ng-bind="item.arrivalDate | date:'dd-MM-yyyy'"></td>
                    <td>{{item.quantity == null ? 0:item.quantity}}</td>
                    <td>{{item.payed ? "დიახ":"არა"}}</td>
                    <td>{{item.declared ? "დიახ":"არა"}}</td>
                    <td>
                        <a href="/uploads/{{item.filePath}}" target="_blank" ng-show="item.filePath != null">
                            <i class="fa fa-file-pdf-o"></i>
                        </a>
                        <i class="fa fa-fw fa-pencil" ng-click="showAddEdit(item)"></i>
                        <i class="fa fa-fw fa-trash-o" ng-model="item"
                           ng-popover-confirm="delete({{item.id}})"
                           data-title="წავშალო ჩანაწერი?">
                        </i>
                    </td>
                </tr>
                <tr ng-if="!data.results.length" class="text-center">
                    <td colspan="100" class="warning">ჩანაწერები ვერ მოიძებნა</td>
                </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="50" class="text-center">
                        <imperio-pager></imperio-pager>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <imperio-fab></imperio-fab>
</div>

<div id="showAddEdit" class="modal black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-lg" ng-form="addEditForm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{init.action}} <span ng-if="init.action == 'რედაქტირება'">
                - {{object.flights.flightNumber}}
                </span></h5>
            </div>
            <div class="modal-body p-lg">
                <div class="row">
                    <section class="col-md-12">
                        <div class="form-group">
                            <label>ფრენის სტატუსი</label>
                            <select class="form-control"
                                    ng-model="object.status"
                                    ng-options="item.id as item.name for item in goodsStateList">
                                <option value='' selected="selected">- აირჩიეთ სტატუსი -</option>
                            </select>
                        </div>
                    </section>
                    <section class="col-md-6">
                        <div class="form-group">
                            <label>თრექინგ კოდი</label>
                            <input class="form-control" type="text"
                                   placeholder="თრექინგ კოდი"
                                   ng-model="object.trackingCode">
                        </div>
                    </section>
                    <section class="col-md-6">
                        <div class="form-group">
                            <label>აირჩიეთ რეისი</label>
                            <input class="form-control" id="flightSelect" type="text" placeholder="რეისი" value="" autocomplete="off">
                        </div>
                    </section>
                    <section  class="col-md-6">
                        <div class="form-group">
                            <label>აირჩიეთ ქვეყანა</label>
                            <input class="form-control" id="countrySelect" type="text" placeholder="ქვეყანა" value="" autocomplete="off">
                        </div>
                    </section>
                    <section  class="col-md-6">
                        <div class="form-group">
                            <label>ვალუტა</label>
                            <input class="form-control" id="currencySelect"
                                   type="text"
                                   placeholder="ვალუტა"
                                   value=""
                                   autocomplete="off">
                        </div>
                    </section>
                    <section class="col-md-12">
                        <div class="form-group">
                            <label>მომხმარებელი</label>
                            <input class="form-control" id="userSelect" type="text" placeholder="მომხამრებელი" value="" autocomplete="off">
                        </div>
                    </section>
                    <section  class="col-md-12">
                        <div class="form-group">
                            <label>ჩამოსვლის თარიღი</label>
                            <input type="text" class="form-control" ng-model="object.arrivalDate" ui-mask="9999-99-99"
                                   placeholder="წელი-თვ-დღ"
                                   model-view-value="{{true}}" imperio-datepicker>
                        </div>
                    </section>
                    <section  class="col-md-4">
                        <div class="form-group">
                            <label>ფ.წონა</label>
                            <input type="text" class="form-control" ng-model="object.phisicalW" required>
                        </div>
                    </section>
                    <section  class="col-md-4">
                        <div class="form-group">
                            <label>მოცულობა</label>
                            <input type="text" class="form-control" ng-model="object.volumeW">
                        </div>
                    </section>
                    <section  class="col-md-4">
                        <div class="form-group">
                            <label>კგ.ფასი.ჩინ</label>
                            <input type="text" class="form-control" ng-model="object.pricePerKGInChina">
                        </div>
                    </section>
                    <section  class="col-md-4">
                        <div class="form-group">
                            <label>გაყიდვის.კურსი</label>
                            <input type="text" class="form-control" ng-model="object.sellRate">
                        </div>
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">დახურვა</button>
                <button type="button" class="btn danger p-x-md" ng-disabled="addEditForm.$invalid"
                        ng-click="save()">შენახვა
                </button>
            </div>
        </div>
    </div>
</div>