<div class="padding">
    <button class="btn btn-success" ng-click="showAddMoneyModal()">
        თანხის დარიცხვა <i class="fa fa-plus"></i>
    </button>
    <br>
    <br>
    <br>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12" ng-form="filterForm">
                    <h2>ქეშფლოუ ფილტრი</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Transaction ID: </label>
                                <input class="form-control"
                                       placeholder="ტრანზაქციის ნომერი"
                                       ng-model="filterObj.transactionId"
                                       ng-disabled="filterObj.dateFrom || filterObj.dateTo"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>თარიღი დან: </label>
                                <input class="form-control"
                                       placeholder="წელი-თვ-დღ"
                                       ng-model="filterObj.dateFrom"
                                       imperio-datepicker
                                       ng-disabled="filterObj.transactionId.length > 0"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>თარიღი მდე: </label>
                                <input class="form-control"
                                       placeholder="წელი-თვ-დღ"
                                       ng-model="filterObj.dateTo"
                                       imperio-datepicker
                                       ng-disabled="filterObj.transactionId.length > 0"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>მომხმარებელი: </label>
                                <input class="form-control"
                                       id="userSelect"
                                       type="text" placeholder="მომხმარებელი" value=""
                                       ng-disabled="filterObj.transactionId"
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn danger p-x-md" ng-disabled="filterForm.$invalid"
                                        ng-click="filter()">ძებნა
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding" ng-show="data.results.length > 0">
    <div class="box">
        <div class="table-responsive">
            <imperio-search-input></imperio-search-input>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            TRAN_ID
                        </th>
                        <th>
                            მომხმარებელი
                        </th>
                        <th>
                            წყარო
                        </th>
                        <th>
                            თანხა
                        </th>
                        <th>
                            შეიქმნა
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data.results">
                        <td>{{(item.transaction == null) ? 'არ არის მინიჭებული':item.transaction.transactionId}}</td>
                        <td>{{item.user.username}}</td>
                        <td>{{((item.income) ? 'შემოსავალი':'გასავალი')}}</td>
                        <td>{{item.amount}}</td>
                        <td ng-bind="item.dateCreated | date:'dd-MM-yyyy'"></td>
                    </tr>
                    <tr ng-if="!data.results.length" class="text-center">
                        <td colspan="100" class="warning">ჩანაწერები ვერ მოიძებნა</td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="50" class="text-center">
                            <imperio-pager></imperio-pager>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="showInvoice" class="modal black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ტრანზაქციის ნომერი - {{obj.transactionId}}</h5>
            </div>
            <div class="modal-body p-lg">
                <h5>შეკვეთის ნომერი:{{obj.transactionId}}</h5>
                <h5>თანხა:$ {{obj.amount}}</h5>
                <h5>გადახდის მეთოდი:$ {{obj.type}}</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">დახურვა</button>
            </div>
        </div>
    </div>
</div>


<div id="showAddMoneyModal" class="modal black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-lg" ng-form="addEditForm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">თანხის დარიცხვა</h5>
            </div>
            <div class="modal-body p-lg">
                <div class="form-group">
                    <label>მომხმარებელი: </label>
                    <input class="form-control"
                           id="userSelectSecond"
                           type="text" placeholder="მომხმარებელი" value=""
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <label>თანხის რაოდენობა: </label>
                    <input class="form-control"
                           type="number"
                           placeholder="შეიყვანეთ თანხა"
                            ng-model="cashflow.amount" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">დახურვა</button>
                <button type="button" class="btn danger p-x-md" ng-disabled="addEditForm.$invalid"
                        ng-click="addBalance()">შენახვა
                </button>
            </div>
        </div>
    </div>
</div>